.modLinkContainer {
    border: 1px solid #000;
    margin: 5px;
}

a#backToToc:hover {
    text-decoration: underline;
}

div#toc {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 10px;
    justify-items: center;
}

ul.toc {
    list-style-image: url("/img/todd.png");
}

ul.toc > li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.MWText,
a.modHeader,
#homeButton {
    color: #75076a;
    display: grid;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-size: 32px;
    margin: 10px;
    font-family: "Pelagiad", sans-serif;
    filter: drop-shadow(3px 1.5px #000);
}

#kartoffel {
    color: #eb5252;
    font-size: 10rem;
}

#homeButton {
    font-size: 8rem;
}

#baldurwind {
    color: #820a26;
    font-size: 48px;
}

#bbl_drizzy {
    color: #ea48f0;
    font-size: 48px;
}

#crass_nav {
    color: #846f06;
    font-size: 8rem;
}

#s3ctors_s3cret_st4sh {
    font-size: 8rem;
}

#starwind_pvp {
    color: #700b15;
    font-size: 8rem;
}

#sw_merged {
    color: #0d6980;
    font-size: 7rem;
}

#sw_cpp {
    color: #0d6980;
    font-size: 7rem;
}

#toolgun {
    color: #75076a;
    font-size: 15rem;
}

#transmog {
    color: #55ffff;
    font-size: 12rem;
}

#monochrome_ui_supplement {
    color: #eeeeff;
    font-size: 8rem;
}

#birr {
    background-image: linear-gradient(to bottom, pink 60%, green);
    background-clip: text;
    color: transparent;
}

#luamics {
    background-image: linear-gradient(to bottom, red 60%, orange);
    background-clip: text;
    color: transparent;
}
