<div id="end">

  <h4> Report A Problem </h4>
  <p id="contactInfo"> If you’ve found an issue with this mod, or if you simply have a question, please use one of the following ways to reach out: </p>

</div>

<a align="center" id="homeButton" href="/">Home</a>

<div style="display:flex;justify-content: space-between;align-items: center;">

  <br>

  <a href="https://soupault.app/">
    <img src="/img/powered_by_soupault_88x31.png" title="This website is built using soupault">
  </a>

  <br>

  <a href="http://www.catb.org/hacker-emblem" title="Hacker Emblem" target="_blank">
    <img src="/img/glider.svg" style="height: 24px; margin: 0 8px 0 0;" alt="Hacker Emblem">
  </a>

  <br>

  <a href="https://handbook.gitlab.com/handbook/support/workflows/dmca/">Gitlab DMCA Policy</a>

</div>
