<p class="center">Latest version: <span class="bold" id="latestVersion">...</span></p>

<div id="links" class="bold center"></div>

<div id="shas" class="bold center">
  <a id="sha256" title="Verify the integrity of the file you downloaded">sha256</a>/
  <a id="sha512" title="Verify the integrity of the file you downloaded">sha512</a>
</div>

<div class="bold center" id="errors"></div>

<div class="center" id="dev-build">

  <a id="dev-download" href="https://gitlab.com/api/v4/projects/ORG%2FPROJECT/jobs/artifacts/master/raw/MOD.zip?job=make" title="Dev builds may have newer features, but they will be less tested">Dev Build</a>
</div>

<nav class="center" id="nav">
  <a href="/">Home</a> |
  <a id="changelog" href="/changelog/">Changelog</a>
</nav>

<div class="center" id="gitlab-links" title="These are external links that will take you to GitLab.">
  <a id="headerHistory" href="https://gitlab.com/ORG/PROJECT/activity">Activity</a> |
  <a id="headerIssues" href="https://gitlab.com/ORG/PROJECT/-/issues">Report A Bug</a> |
  <a id="updateCenter" href="https://modding-openmw.gitlab.io/update-center/">Update Center</a>
</div>

<br>
